@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For the active link and the icon  */
.active svg {
  color:#0c2d57;
}
.active {
  background-color: rgb(241 245 249);
 
}