@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: Poppins;
  font-weight: 500;
}
/* For the active link and the icon  */
.active svg {
  color:#0c2d57;
}
.active {
  background-color: rgb(241 245 249);
 
}